Tipos de dados no python

Inteiro / Integer

In [ ]:
idade = 25

Float / Decimal

In [1]:
peso = 80
peso

80

String / Texto

In [3]:
nome = "Mateus"
nome

'Mateus'

In [5]:
numero_a = 1
numero_b = "1"

numero_a, numero_b

(1, '1')

Booleano

True or false

In [9]:
# Exemplo de uma variável booleana

numero_a = 1
numero_b = "1"

numero_a == numero_b

False

In [10]:
# Exemplo de uma variável booleana

numero_a = 1
numero_b = int("1")

numero_a == numero_b

True

In [11]:
# Exemplo de uma variável booleana
linguagem_1 = "Python"
linguagem_2 = "Java"

linguagem_1 == linguagem_2

False

Verificando tipos de dados com python

In [13]:
#Exemplo de variáveis de diferentes tipos.

type(linguagem_1)

str

In [14]:
#Exemplo de variáveis de diferentes tipos.

inteiro = 42
flutuante = 3.14
texto = "Olá mundo"
lista =[1, 2, 3]
tupla = (1, 3)
dicionário = {'a':1, 'b':2}

#Verificando os tipos
print(type(inteiro))
print(type(flutuante))
print(type(texto))
print(type(lista))
print(type(tupla))
print(type(dicionário))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

Formatando strings

Formatando strings utilizando %

In [29]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.9555555

# "O" + marca + " foi lancado em " + str(lancamento)

'O %s foi lancado em %d e custa $ %d. Mas a taxa de conversao real para dolar é %.2f reais para 1 dolar'%(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299. Mas a taxa de conversao real para dolar é 4.96 reais para 1 dolar'

Formatando strings utilizando o format ()

In [6]:
marca = "Iphone 15 Pro Max"
lancamento = 2023
valor = 1299
taxaDolar = 4.9555555


'O {0} foi lancado em {1} e custa $ {2}. Mas a taxa de conversao real para dolar é R${3: .2f} para 1 dolar'.format(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299. Mas a taxa de conversao real para dolar é R$ 4.96 para 1 dolar'

In [8]:
f'O {marca} foi lancado em {lancamento} e custa $ {valor}. Mas a taxa de conversao real para dolar é R${taxaDolar: .2f} para 1 dolar'.format(marca, lancamento, valor, taxaDolar)

'O Iphone 15 Pro Max foi lancado em 2023 e custa $ 1299. Mas a taxa de conversao real para dolar é R$ 4.96 para 1 dolar'

Convertendo tipo de dados

In [15]:
numero = int('2')
numero

2

In [16]:
type(numero)

int

In [17]:
from datetime import datetime
import pytz

unix_time = 1704569241

#Converter para data e hora normal em São Paulo
fuso_horario_sao_paulo = pytz.timezone('America/Sao_Paulo')

data_hora_sao_paulo = datetime.fromtimestamp(unix_time, fuso_horario_sao_paulo)

print("Data e hora em São Paulo:", data_hora_sao_paulo)

Data e hora em São Paulo: 2024-01-06 16:27:21-03:00

Listas

In [3]:
#Declarando uma lista

minhalista = []
minhalista

nomeUsuario = ["Hugo","Zé","Luiz"]
idadeUsuario = [18, 19, 20]

nomeUsuario, idadeUsuario

(['Hugo', 'Zé', 'Luiz'], [18, 19, 20])

In [5]:
#Adicionando itens na lista

nomeUsuario.append("Mateus")
idadeUsuario.append(25)

nomeUsuario, idadeUsuario

(['Hugo', 'Zé', 'Luiz', 'Mateus', 'Mateus'], [18, 19, 20, 25, 25])

In [7]:
#Removendo da lista
nomeUsuario.remove("Mateus")
idadeUsuario.remove(25)

nomeUsuario, idadeUsuario

(['Hugo', 'Zé', 'Luiz'], [18, 19, 20])

In [1]:
#Encontrando um valor por indice

idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]

idadeAlunos [4]

#Na contagem do indice >> 0 = 49, 1 = 50, 2 = 30 etc etc

40

In [6]:
#Acessando por index

idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]

#Da esquerda (valor positivo)
idadeAlunos [8]

#Da direita (valor negativo) {da DIR para ESQ a contagem começa em 1}
idadeAlunos [-5]

70

In [15]:
idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]
# qusndo não tenho nada a esquerda dos [:], vamos "pegar" tudo.

# Da esquerda (valor positivo)
idadeAlunos [:6] #utilizando esse modelo de [:6] ele sempre fará [N - 1] para retornar o numero que solicitamos.

# Da direita (valor negativo)
idadeAlunos [-5:]

[70, 27, 43, 18, 22]

In [16]:
idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]

# Buscando um intervalo de lista
idadeAlunos[5:10]

[25, 35, 29, 70, 27]

In [17]:
#Acessando intervalos
idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]
idadeAlunos[0:10:2] #Adicionando o terceiro numero pós :, ditamos a regra. Então nesse exemplo, a cada dois numeros

[49, 30, 40, 35, 70]

In [1]:
#Alterando valores
idadeAlunos = [49, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]

idadeAlunos[0] = 64
idadeAlunos

[64, 50, 30, 21, 40, 25, 35, 29, 70, 27, 43, 18, 22]

#Tuplas
###Não podem ser alteradas durante a execução do código, diferente das listas.

In [2]:
mesesDoAno = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")

In [3]:
#Acessando valores
mesesDoAno[9]

'Oct'

In [4]:
mesesDoAno[3:6]

('Apr', 'May', 'Jun')

#Dicionários
###é quase a mesma coisa que um json

In [5]:
meuDicionario = {}
type(meuDicionario)

dict

In [7]:
#Criando um dicionario com nome e idade de usuarios
usuario = {
    "Mateus":18,
    "Lucas":19,
    "Luis":20
}
usuario

{'Mateus': 18, 'Lucas': 19, 'Luis': 20}

In [9]:
#Imprimindo um item
usuario["Lucas"]

19

In [10]:
#Imprimindo um item
usuario["Lucas"] = 21
usuario

{'Mateus': 18, 'Lucas': 21, 'Luis': 20}

#Criando uma lista de dicionarios

In [19]:
listaUsuarios=[
    {"Nome":"Mateus", "Idade":18},
    {"Nome":"Luis", "Idade":19},
    {"Nome":"Ze", "Idade":20},
    {"Nome":"Paulo", "Idade":21},
]
listaUsuarios

[{'Nome': 'Mateus', 'Idade': 18},
 {'Nome': 'Luis', 'Idade': 19},
 {'Nome': 'Ze', 'Idade': 20},
 {'Nome': 'Paulo', 'Idade': 21}]

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(listaUsuarios)
df

     Nome  Idade
0  Mateus     18
1    Luis     19
2      Ze     20
3   Paulo     21