Tipos de dados no python

Inteiro / Integer

In [ ]:
idade = 25

Float / Decimal

In [1]:
peso = 80
peso

80

String / Texto

In [3]:
nome = "Mateus"
nome

'Mateus'

In [5]:
numero_a = 1
numero_b = "1"

numero_a, numero_b

(1, '1')

Booleano

True or false

In [9]:
# Exemplo de uma variável booleana

numero_a = 1
numero_b = "1"

numero_a == numero_b

False

In [10]:
# Exemplo de uma variável booleana

numero_a = 1
numero_b = int("1")

numero_a == numero_b

True

In [11]:
# Exemplo de uma variável booleana
linguagem_1 = "Python"
linguagem_2 = "Java"

linguagem_1 == linguagem_2

False

Verificando tipos de dados com python

In [13]:
#Exemplo de variáveis de diferentes tipos.

type(linguagem_1)

str

In [14]:
#Exemplo de variáveis de diferentes tipos.

inteiro = 42
flutuante = 3.14
texto = "Olá mundo"
lista =[1, 2, 3]
tupla = (1, 3)
dicionário = {'a':1, 'b':2}

#Verificando os tipos
print(type(inteiro))
print(type(flutuante))
print(type(texto))
print(type(lista))
print(type(tupla))
print(type(dicionário))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>